In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df.head(10)

,EmployeeID,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,Shift,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1313919,41,No,Travel_Rarely,1102,Cardiology,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,1200302,49,No,Travel_Frequently,279,Maternity,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,1060315,37,Yes,Travel_Rarely,1373,Maternity,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,1272912,33,No,Travel_Frequently,1392,Maternity,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,1414939,27,No,Travel_Rarely,591,Maternity,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2
5,1633361,32,No,Travel_Frequently,1005,Maternity,2,2,Life Sciences,1,...,3,80,0,8,2,2,7,7,3,6
6,1329390,59,No,Travel_Rarely,1324,Maternity,3,3,Medical,1,...,1,80,3,12,3,2,1,0,0,0
7,1699288,30,No,Travel_Rarely,1358,Maternity,24,1,Life Sciences,1,...,2,80,1,1,2,3,1,0,0,0
8,1469740,38,No,Travel_Frequently,216,Maternity,23,3,Life Sciences,1,...,2,80,0,10,2,3,9,7,1,8
9,1101291,36,No,Travel_Rarely,1299,Maternity,27,3,Medical,1,...,2,80,2,17,3,2,7,7,7,7

### Menentukan kolom untuk patokan

In [5]:
df['Department'].unique()

array(['Cardiology', 'Maternity', 'Neurology'], dtype=object)

# Data Splitting

In [6]:
X = df[['Age','DailyRate', 'DistanceFromHome','Education','EmployeeCount','RelationshipSatisfaction','RelationshipSatisfaction','StandardHours','TotalWorkingYears','YearsAtCompany','YearsWithCurrManager']]
Y = df['Department']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=0)

# 1.Algoritma Naive Bayes

In [9]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [10]:
GNB = GaussianNB().fit(X_train, Y_train)

In [11]:
GNBpredict = GNB.predict(X_test)

In [12]:
print("Akurasi Algoritma Naive Bayes :")
accuracy_score(GNBpredict, Y_test)

Akurasi Algoritma Naive Bayes :

0.5

# Algoritma K-Nearest Neighbor

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
modelKNN = KNeighborsClassifier(n_neighbors = 5)

In [15]:
modelKNN.fit(X_train, Y_train)

KNeighborsClassifier()

In [16]:
print(f'Akurasi Training KNN : {modelKNN.score(X_train, Y_train)}')
print(f'Akurasi Test KNN : {modelKNN.score(X_test, Y_test)}')

Akurasi Training KNN : 0.6126865671641791
Akurasi Test KNN : 0.44642857142857145

# Algoritma Support Vector Machine (SVM)

In [17]:
from sklearn.svm import SVC

In [18]:
SVC = SVC().fit(X_train, Y_train)
SVC_predict = SVC.predict(X_test)

In [19]:
print(f'Akurasi Training Algoritma SVM: {SVC.score(X_train, Y_train)}')
print(f'Akurasi Test Algoritma SVM : {SVC.score(X_test, Y_test)}')

Akurasi Training Algoritma SVM: 0.4716417910447761
Akurasi Test Algoritma SVM : 0.4880952380952381

# Perbandingan SCORE dari berbagai Algoritma

In [20]:
print("Perbandingan Antar Algoritma")
print(f'Akurasi Training menggunakan KNN : {modelKNN.score(X_train, Y_train)}')
print(f'Akurasi Training menggunakan SVM : {SVC.score(X_train, Y_train)}')
print("=====================================================")
print(f'Akurasi Test menggunakan KNN : {modelKNN.score(X_test, Y_test)}')
print(f'Akurasi Test menggunakan SVM : {SVC.score(X_test, Y_test)}')

Perbandingan Antar Algoritma
Akurasi Training menggunakan KNN : 0.6126865671641791
Akurasi Training menggunakan SVM : 0.4716417910447761
=====================================================
Akurasi Test menggunakan KNN : 0.44642857142857145
Akurasi Test menggunakan SVM : 0.4880952380952381